absl-py==2.3.0
accelerate==1.7.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiohttp-cors==0.8.1
aiolimiter==1.2.1
aiosignal==1.4.0
airportsdata==20250523
annotated-doc==0.0.4
annotated-types==0.7.0
anthropic==0.82.0
antlr4-python3-runtime==4.8
anyio==4.9.0
apache-beam==2.65.0
apache-tvm-ffi==0.1.8.post2
appdirs==1.4.4
astor==0.8.1
asttokens==3.0.0
astunparse==1.6.3
async-timeout==5.0.1
attrs==25.3.0
audioread==3.0.1
av==14.4.0
beautifulsoup4==4.13.4
bidict==0.23.1
bitarray==3.6.0
bitsandbytes==0.46.0
blake3==1.0.5
blessed==1.27.0
blis==1.3.0
blobfile==3.0.0
bs4==0.0.2
cachetools==5.5.2
catalogue==2.0.10
cbor==1.0.0
cbor2==5.8.0
certifi==2025.4.26
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.2
click==8.2.1
cloudpathlib==0.22.0
cloudpickle==3.1.1
cmake==4.0.3
cmudict==1.1.1
codetiming==1.4.0
colorama==0.4.6
colorful==0.5.6
commonmark==0.9.1
compressed-tensors==0.10.1
confection==0.1.5
contourpy==1.3.2
crcmod==1.7
cryptography==46.0.5
cuda-bindings==12.9.4
cuda-pathfinder==1.3.4
cuda-python==12.9.0
cupy-cuda12x==13.4.1
cycler==0.12.1
cymem==2.0.11
Cython==3.1.2
dacite==1.9.2
DataProperty==1.1.0
datasets==3.6.0
debugpy==1.8.0
decorator==5.2.1
decord==0.6.0
deepspeed==0.17.1
Deprecated==1.2.18
depyf==0.18.0
dill==0.3.1.1
diskcache==5.6.3
Distance==0.1.3
distlib==0.3.9
distro==1.9.0
dnspython==2.7.0
docopt==0.6.2
docstring_parser==0.16
einops==0.8.1
email_validator==2.2.0
emoji==1.2.0
entmax==1.3
et_xmlfile==2.0.0
evaluate==0.4.4
exceptiongroup==1.3.0
executing==2.2.0
fastapi==0.129.0
fastapi-cli==0.0.23
fastapi-cloud-cli==0.13.0
fastar==0.8.0
fastavro==1.11.1
fastchat==0.1.0
fasteners==0.19
fastHan==2.0
FastNLP==1.0.1
fastrlock==0.8.3
fasttext==0.9.3
ffmpy==0.6.0
filelock==3.18.0
fire==0.7.0
FlagEmbedding==1.3.5
flash_attn @ https://github.com/Dao-AILab/flash-attention/releases/download/v2.7.4.post1/flash_attn-2.7.4.post1+cu12torch2.7cxx11abiFALSE-cp310-cp310-linux_x86_64.whl#sha256=f09928f2c7e4dfbe6efca5a997862898495263c87afe662c18fb1936eb192eab
flashinfer-python==0.2.6.post1
flatbuffers==25.2.10
fonttools==4.58.2
frozenlist==1.7.0
fsspec==2025.3.0
gast==0.6.0
gguf==0.17.1
gitdb==4.0.12
GitPython==3.1.44
google==3.0.0
google-api-core==2.25.0
google-auth==2.45.0
google-genai==1.56.0
google-pasta==0.2.0
googleapis-common-protos==1.70.0
gpustat==1.1.1
gradio==5.31.0
gradio_client==1.10.1
groovy==0.1.2
grpcio==1.78.0
grpcio-reflection==1.78.0
grpclib==0.4.8
h11==0.16.0
h2==4.3.0
h5py==3.14.0
hangul-jamo==1.0.1
hanlp==2.1.1
hanlp_common==0.0.23
hanlp_downloader==0.0.25
hanlp_restful==0.0.24
hanlp_trie==0.0.5
hdfs==2.7.3
hf-xet==1.1.3
hf_transfer==0.1.9
hjson==3.1.0
hpack==4.1.0
httpcore==1.0.9
httplib2==0.22.0
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.3
huggingface_hub==0.36.2
hydra-core==1.0.7
hyperframe==6.1.0
idna==3.10
ijson==3.4.0
immutabledict==4.2.2
importlib_metadata==8.0.0
importlib_resources==6.5.2
iniconfig==2.1.0
inscriptis==2.6.0
interegular==0.3.3
ipadic==1.0.0
ipython==8.37.0
ir_datasets==0.5.11
isort==6.0.1
jamo==0.4.1
jedi==0.19.2
jieba==0.42.1
Jinja2==3.1.6
jiter==0.10.0
jmespath==1.1.0
joblib==1.5.1
jsonargparse==3.13.1
jsonlines==4.0.0
jsonpickle==3.4.2
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
keras==3.11.2
kiwisolver==1.4.8
kollocate==0.0.2
koparadigm==0.10.0
kss==6.0.5
langcodes==3.5.0
langdetect==1.0.9
language_data==1.3.0
lark==1.2.2
laser_encoders==0.0.2
lazy_loader==0.4
libclang==18.1.1
librosa==0.11.0
liger_kernel==0.5.10
lightning-utilities==0.14.3
lit==15.0.7
litellm==1.73.0
llguidance==0.7.30
llvmlite==0.44.0
lm-format-enforcer==0.10.12
loguru==0.7.3
loralib==0.1.2
lxml==5.4.0
lz4==4.4.4
marisa-trie==1.3.1
Markdown==3.8
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.3
matplotlib-inline==0.1.7
mbstrdecoder==1.1.4
mcp==1.26.0
mdurl==0.1.2
mecab-ko==1.0.1
mecab-ko-dic==1.0.0
mecab-python3==1.0.10
mistral_common==1.9.1
ml_dtypes==0.5.3
modal==1.1.4
model-hosting-container-standards==0.1.13
modelscope==1.27.1
more-itertools==10.7.0
mpmath==1.3.0
msgpack==1.1.0
msgspec==0.19.0
multidict==6.4.4
multiprocess==0.70.16
murmurhash==1.0.13
namex==0.1.0
nanobind==2.7.0
nest-asyncio==1.6.0
networkx==3.4.2
ninja==1.11.1.4
nltk==3.9.1
numba==0.61.2
numexpr==2.11.0
numpy==1.26.4
nvidia-cublas-cu12==12.6.4.1
nvidia-cuda-cupti-cu12==12.6.80
nvidia-cuda-nvrtc-cu12==12.6.77
nvidia-cuda-runtime-cu12==12.6.77
nvidia-cudnn-cu12==9.5.1.17
nvidia-cudnn-frontend==1.18.0
nvidia-cufft-cu12==11.3.0.4
nvidia-cufile-cu12==1.11.1.6
nvidia-curand-cu12==10.3.7.77
nvidia-cusolver-cu12==11.7.1.2
nvidia-cusparse-cu12==12.5.4.2
nvidia-cusparselt-cu12==0.6.3
nvidia-cutlass-dsl==4.4.0
nvidia-cutlass-dsl-libs-base==4.4.0
nvidia-ml-py==12.575.51
nvidia-nccl-cu12==2.26.2
nvidia-nvjitlink-cu12==12.6.85
nvidia-nvshmem-cu12==3.4.5
nvidia-nvtx-cu12==12.6.77
nvitop==1.6.2
objsize==0.7.1
omegaconf==2.0.6
openai==2.21.0
openai-harmony==0.0.8
opencensus==0.11.4
opencensus-context==0.1.3
opencv-python-headless==4.13.0.92
openpyxl==3.1.2
-e git+https://github.com/OpenRLHF/OpenRLHF.git@8722e16aabf151ddf23d255f848c9856f135c7d7#egg=openrlhf
opentelemetry-api==1.26.0
opentelemetry-exporter-otlp==1.26.0
opentelemetry-exporter-otlp-proto-common==1.26.0
opentelemetry-exporter-otlp-proto-grpc==1.26.0
opentelemetry-exporter-otlp-proto-http==1.26.0
opentelemetry-proto==1.26.0
opentelemetry-sdk==1.26.0
opentelemetry-semantic-conventions==0.47b0
opentelemetry-semantic-conventions-ai==0.4.9
opt_einsum==3.4.0
optimum==1.26.1
optree==0.16.0
orjson==3.10.18
outlines==0.1.11
outlines_core==0.1.26
packaging==25.0
pandas==2.3.0
parso==0.8.4
partial-json-parser==0.2.1.1.post5
pathvalidate==3.3.1
pecab==1.0.8
peft==0.15.2
pexpect==4.9.0
phrasetree==0.0.9
pillow==11.2.1
platformdirs==4.3.8
pluggy==1.6.0
pooch==1.8.2
portalocker==3.1.1
preshed==3.0.10
prettytable==3.16.0
prometheus-eval==0.1.20
prometheus-fastapi-instrumentator==7.1.0
prometheus_client==0.22.1
prompt_toolkit==3.0.51
propcache==0.3.2
proto-plus==1.26.1
protobuf==4.25.8
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
py-spy==0.4.0
pyairports==2.1.1
pyarrow==20.0.0
pyarrow-hotfix==0.7
pyasn1==0.6.1
pyasn1_modules==0.4.2
pybase64==1.4.3
pybind11==2.13.6
pycountry==24.6.1
pycparser==2.22
pycryptodomex==3.23.0
pydantic==2.10.6
pydantic-extra-types==2.11.0
pydantic-settings==2.13.0
pydantic_core==2.27.2
pydot==1.4.2
pydub==0.25.1
Pygments==2.19.1
PyJWT==2.11.0
pylatexenc==2.10
pymongo==4.13.0
pynvml==12.0.0
pyparsing==3.2.3
pytablewriter==1.2.1
pytest==8.4.0
pythainlp==5.1.2
python-crfsuite==0.9.11
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-json-logger==3.3.0
python-multipart==0.0.20
pytorch-lightning==2.5.1.post0
pytz==2025.2
PyYAML==6.0.2
pyzmq==26.4.0
ray==2.43.0
redis==5.3.0
referencing==0.36.2
regex==2024.11.6
requests==2.32.4
rich==14.1.0
rich-toolkit==0.19.4
rignore==0.7.6
ring-flash-attn==0.1.5
rouge_score==0.1.2
rpds-py==0.25.1
rsa==4.9.1
ruff==0.11.13
sacrebleu==2.5.1
sacremoses==0.1.0
safehttpx==0.1.6
safetensors==0.5.3
scikit-learn==1.7.0
scipy==1.15.3
seaborn==0.13.2
semantic-version==2.10.0
sentence-transformers==5.0.0
sentencepiece==0.2.0
sentry-sdk==2.29.1
setproctitle==1.3.6
sgl-kernel==0.1.9
sglang==0.4.7.post1
shellingham==1.5.4
shtab==1.7.2
sigtools==4.0.1
simalign==0.4
six==1.17.0
smart-open==7.1.0
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
soundfile==0.13.1
soupsieve==2.7
soxr==0.5.0.post1
spacy==3.8.7
spacy-legacy==3.0.12
spacy-loggers==1.0.5
sqlitedict==2.1.0
srsly==2.5.1
sse-starlette==2.3.6
stack-data==0.6.3
starlette==0.52.1
supervisor==4.3.0
sympy==1.14.0
synchronicity==0.10.2
tabledata==1.3.4
tabulate==0.9.0
tcolorpy==0.1.7
tenacity==9.1.2
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensordict==0.6.2
tensorflow-io-gcs-filesystem==0.37.1
termcolor==3.1.0
tf-slim==1.1.0
tf_keras==2.19.0
thinc==8.3.6
threadpoolctl==3.6.0
tiktoken==0.9.0
tokenizers==0.21.1
toml==0.10.2
tomli==2.2.1
tomlkit==0.13.3
toposort==1.5
torch==2.7.0
torch_memory_saver==0.0.8
torchao==0.9.0
torchaudio==2.7.0
torchdata==0.11.0
torchmetrics==0.10.3
torchvision==0.22.0
tossi==0.3.1
tqdm==4.67.1
tqdm-multiprocess==0.0.11
traitlets==5.14.3
transformers==4.52.4
transformers-stream-generator==0.0.5
trec-car-tools==2.6
triton==3.3.0
trl==0.9.6
typepy==1.3.4
typer==0.16.0
types-certifi==2021.10.8.3
types-toml==0.10.8.20240310
typing-inspection==0.4.2
typing_extensions==4.15.0
tyro==0.8.14
tzdata==2025.2
unbabel-comet==2.2.6
unicategories==0.1.2
Unidecode==1.4.0
unlzw3==0.2.3
urllib3==2.4.0
uv==0.7.14
uvicorn==0.34.3
uvloop==0.21.0
virtualenv==20.31.2
vllm==0.9.1
vllm-flash-attn==2.6.1
wandb==0.20.1
warc3-wet==0.2.5
warc3-wet-clueweb09==0.2.5
wasabi==1.1.3
watchfiles==1.0.5
wcwidth==0.3.1
weasel==0.4.1
websockets==15.0.1
Werkzeug==3.1.3
Whoosh==2.7.4
word2number==1.1
wrapt==1.17.2
xformers==0.0.30
xgrammar==0.1.19
xlrd==1.2.0
xxhash==3.5.0
yarl==1.20.1
zipp==3.23.0
zlib-state==0.1.9
zstandard==0.23.0
